@font-face {
    font-family: Valorant;
    src: url("../imagens/fonte/Valorant\ Font.ttf");
}

.agentes {
    display: none;
    margin-left: 10px;
    margin-top: 10px;
    padding-top: 10px;
}

.classes {
    color: #fff;
    font-size: 20px;
    padding-left: 10px;
    text-shadow: 2px 2px 2px #1C1C1C;
    font-family: Valorant;
}

.fotinha {
    width: 50px;
    height: 50px;
    margin-left: 6px;
    margin-bottom: 10px;
}

button {
    background-color: #ff4655;
    color: #1C1C1C;
    font-size: 15px;
    font-family: Valorant;
    border: none;
    margin-top: 10px;
    margin-left: 15px;
    font-weight: bold;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#valomaps {
    color: #fff;
    font-size: 25px;
    font-family: Valorant;
    padding-left: 5px;
    text-shadow: 2px 2px 2px #1C1C1C;
    padding-top: 5px;
    font-weight: bold;
}


#app {
    display: flex;
    justify-content: center;
}

.carousel {
    position: relative;
    display: flex;
    width: 994px;
    height: 559px;
}

.carousel-item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.carousel-item.active {
    opacity: 1;
}

.carousel-item img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

/* Elementos da Pagina */

body {
    background-color: #1C1C1C;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    margin: auto;
    display: flex;
    flex-flow: column;
    width: 20%;
    gap: 0px;
}

#logo {
    width: 30px;
    height: 30px;
    margin-left: 10px;
}

.cabecalho {
    background-color: #ff4655;
    margin: auto;
    display: flex;
    width: 100%;
    height: 45px;
    align-items: center;
    margin-bottom: 20px;
}

#entrar {
    background-color: #fff;
    padding: 7px 15px;
    padding-top: 10px;
    border-radius: 7px;
    color: #1C1C1C;
    position: absolute;
    right: 0;
    margin: 15px;
    font-family: Valorant;
    font-weight: lighter;
}

p {
    color: #fff;
    font-size: 20px;
    /*font-weight: bold; */
    padding-left: 10px;
    text-shadow: 2px 2px 2px #1C1C1C;
}

.mapas {
    align-items: flex-start;
    margin: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #ff4655;
    border-radius: 7px;
    padding: 50px;
}

h2 {
    font-family: Valorant;
    color: #fff;
    text-shadow: 2px 2px 2px #1C1C1C;
}

.descricao {
    font-size: 18px;
    font-weight:lighter;
    margin: 5px;
}

hr {
    margin: auto;
    display: flex;
    width: 80%;
    margin-top: 50px;
    margin-bottom: 50px;
}

footer{
    background-color: #ff4655;
    margin: auto;
    display: flex;
    width: 100%;
    height: 45px;
    align-items: center;
    justify-content: center;
}

footer a{
    color: #fff;
    font-size: 15px;
    text-shadow: none;
    padding-left: 0px;
    text-decoration: none;
    font-family: Valorant;
}

.footer{
    font-family: Valorant;
    font-size: 15px;
}


/* DESCRIÇÃO AGENTE */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    /*background-color: #f9f9f9; */
    background-color: #ece8e1;
    min-width: 275px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 15px;
    border-radius: 0px 7px 0px 7px;

    left: 100%; /* posiciona o dropdown à direita */
    top: 0px; /* alinha o topo do dropdown com o topo do elemento pai */
}

.dropdown:hover .dropdown-content {
    display: block;
}

.desc {
    padding: 15px;
    text-align: center;
}