* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Valorant;
  src: url("../imagens/fonte/Valorant\ Font.ttf");
}

body {
  /* background-color: #1C1C1C; */
  background-color: #0e1923;
  font-family: Arial, Helvetica, sans-serif;
}

label {
  /* color: #ff4655; */
  color: #fff;
  padding-top: 13px;
  font-family: Valorant;
}

input {
  background-color: #7042d8;
  height: 30px;
  border-radius: 7px;
  padding-left: 3px;
}

input::placeholder {
  color: #1C1C1C;
  font-size: 15px;
  text-align: left;
}

button {
  background-color: #7042d8;
  padding: 10px 20px;
  border-radius: 7px;
  font-family: Valorant;
  padding-top: 13px;
}

#conta {
  /* background-color: #1C1C1C; */
  background-color: #0e1923;
  color: #7042d8;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  border: none;
  font-weight: bold;
}

h1 {
  font-family: Valorant;
  text-align: center;
  /* color: #7042d8; */
  color: #fff;
  margin-bottom: 10px;
  margin-top: 5%;
}

main {
  margin: auto;
  display: flex;
  flex-flow: column;
  width: 20%;
  gap: 10px;
}

#logo {
  width: 30px;
  height: 30px;
  margin-left: 10px;
}

.cabecalho {
  background-color: #7042d8;
  margin: auto;
  display: flex;
  width: 100%;
  height: 45px;
  align-items: center;
}

#valomaps {
  color: #fff;
  font-size: 25px;
  font-family: Valorant;
  padding-left: 5px;
  text-shadow: 2px 2px 2px #1C1C1C;
  padding-top: 5px;
  font-weight: bold;
}

p {
  color: #fff;
  font-size: 20px;
  padding-left: 10px;
  text-shadow: 2px 2px 2px #1C1C1C;
}

#gekko {
  height: 0px;
}

#jett {
  height: 0px;
  position: absolute;
  top: 60px;
  right: 0;
}